.tribe-events-pro {

	.tribe-events-pro-week-grid__event {
		position: absolute;
		height: var(--spacer-5);
		top: 0;
		right: 1px;
		width: calc(100% - 2px); /* adding 2 px horizontal spacing. */
	}

	/* If event is less than 1 hour */
	[class*="tribe-events-pro-week-grid__event--h-0"] {

		.tribe-events-pro-week-grid__event-link-inner {
			padding: 2px var(--spacer-1);
		}

		.tribe-events-pro-week-grid__event-datetime {
			@mixin visually-hide;
		}

		.tribe-events-pro-week-grid__event-title-featured-icon {
			display: inline-block;
			margin-right: var(--spacer-0);
		}
	}

	.tribe-events-pro-week-grid__event-link {
		background-color: var(--color-background);
		height: 100%;
		overflow: hidden;
		position: absolute;
		width: 100%;
	}

	.tribe-events-pro-week-grid__event-link--intended {
		z-index: var(--z-index-week-event-hover);
	}

	.tribe-events-pro-week-grid__event-link-inner {
		display: block;
		height: 100%;
		padding: var(--spacer-0) var(--spacer-1);
		width: 100%;
	}

	/* -----------------------------------------------------------------------------
	 * Event Sequence
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-grid__event--seq-2 {
		width: calc(90% - 2px);
	}

	.tribe-events-pro-week-grid__event--seq-3 {
		width: calc(80% - 2px);
	}

	.tribe-events-pro-week-grid__event--seq-4 {
		width: calc(70% - 2px);
	}

	.tribe-events-pro-week-grid__event--seq-5 {
		width: calc(60% - 2px);
	}

	.tribe-events-pro-week-grid__event--seq-6 {
		width: calc(50% - 2px);
	}

	.tribe-events-pro-week-grid__event--seq-7 {
		width: calc(40% - 2px);
	}

	.tribe-events-pro-week-grid__event--seq-8 {
		width: calc(30% - 2px);
	}

	/* -----------------------------------------------------------------------------
	 * Event Height / Duration
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-grid__event--h-1 {
		height: calc(var(--spacer-5) * 2);
	}

	.tribe-events-pro-week-grid__event--h-1-5 {
		height: calc(var(--spacer-5) * 3);
	}

	.tribe-events-pro-week-grid__event--h-2 {
		height: calc(var(--spacer-5) * 4);
	}

	.tribe-events-pro-week-grid__event--h-2-5 {
		height: calc(var(--spacer-5) * 5);
	}

	.tribe-events-pro-week-grid__event--h-3 {
		height: calc(var(--spacer-5) * 6);
	}

	.tribe-events-pro-week-grid__event--h-3-5 {
		height: calc(var(--spacer-5) * 7);
	}

	.tribe-events-pro-week-grid__event--h-4 {
		height: calc(var(--spacer-5) * 8);
	}

	.tribe-events-pro-week-grid__event--h-4-5 {
		height: calc(var(--spacer-5) * 9);
	}

	.tribe-events-pro-week-grid__event--h-5 {
		height: calc(var(--spacer-5) * 10);
	}

	.tribe-events-pro-week-grid__event--h-5-5 {
		height: calc(var(--spacer-5) * 11);
	}

	.tribe-events-pro-week-grid__event--h-6 {
		height: calc(var(--spacer-5) * 12);
	}

	.tribe-events-pro-week-grid__event--h-6-5 {
		height: calc(var(--spacer-5) * 13);
	}

	.tribe-events-pro-week-grid__event--h-7 {
		height: calc(var(--spacer-5) * 14);
	}

	.tribe-events-pro-week-grid__event--h-7-5 {
		height: calc(var(--spacer-5) * 15);
	}

	.tribe-events-pro-week-grid__event--h-8 {
		height: calc(var(--spacer-5) * 16);
	}

	.tribe-events-pro-week-grid__event--h-8-5 {
		height: calc(var(--spacer-5) * 17);
	}

	.tribe-events-pro-week-grid__event--h-9 {
		height: calc(var(--spacer-5) * 18);
	}

	.tribe-events-pro-week-grid__event--h-9-5 {
		height: calc(var(--spacer-5) * 19);
	}

	.tribe-events-pro-week-grid__event--h-10 {
		height: calc(var(--spacer-5) * 20);
	}

	.tribe-events-pro-week-grid__event--h-10-5 {
		height: calc(var(--spacer-5) * 21);
	}

	.tribe-events-pro-week-grid__event--h-11 {
		height: calc(var(--spacer-5) * 22);
	}

	.tribe-events-pro-week-grid__event--h-11-5 {
		height: calc(var(--spacer-5) * 23);
	}

	.tribe-events-pro-week-grid__event--h-12 {
		height: calc(var(--spacer-5) * 24);
	}

	.tribe-events-pro-week-grid__event--h-12-5 {
		height: calc(var(--spacer-5) * 25);
	}

	.tribe-events-pro-week-grid__event--h-13 {
		height: calc(var(--spacer-5) * 26);
	}

	.tribe-events-pro-week-grid__event--h-13-5 {
		height: calc(var(--spacer-5) * 27);
	}

	.tribe-events-pro-week-grid__event--h-14 {
		height: calc(var(--spacer-5) * 28);
	}

	.tribe-events-pro-week-grid__event--h-14-5 {
		height: calc(var(--spacer-5) * 29);
	}

	.tribe-events-pro-week-grid__event--h-15 {
		height: calc(var(--spacer-5) * 30);
	}

	.tribe-events-pro-week-grid__event--h-15-5 {
		height: calc(var(--spacer-5) * 31);
	}

	.tribe-events-pro-week-grid__event--h-16 {
		height: calc(var(--spacer-5) * 32);
	}

	.tribe-events-pro-week-grid__event--h-16-5 {
		height: calc(var(--spacer-5) * 33);
	}

	.tribe-events-pro-week-grid__event--h-17 {
		height: calc(var(--spacer-5) * 34);
	}

	.tribe-events-pro-week-grid__event--h-17-5 {
		height: calc(var(--spacer-5) * 35);
	}

	.tribe-events-pro-week-grid__event--h-18 {
		height: calc(var(--spacer-5) * 36);
	}

	.tribe-events-pro-week-grid__event--h-18-5 {
		height: calc(var(--spacer-5) * 37);
	}

	.tribe-events-pro-week-grid__event--h-19 {
		height: calc(var(--spacer-5) * 38);
	}

	.tribe-events-pro-week-grid__event--h-19-5 {
		height: calc(var(--spacer-5) * 39);
	}

	.tribe-events-pro-week-grid__event--h-20 {
		height: calc(var(--spacer-5) * 40);
	}

	.tribe-events-pro-week-grid__event--h-20-5 {
		height: calc(var(--spacer-5) * 41);
	}

	.tribe-events-pro-week-grid__event--h-21 {
		height: calc(var(--spacer-5) * 42);
	}

	.tribe-events-pro-week-grid__event--h-21-5 {
		height: calc(var(--spacer-5) * 43);
	}

	.tribe-events-pro-week-grid__event--h-22 {
		height: calc(var(--spacer-5) * 44);
	}

	.tribe-events-pro-week-grid__event--h-22-5 {
		height: calc(var(--spacer-5) * 45);
	}

	.tribe-events-pro-week-grid__event--h-23 {
		height: calc(var(--spacer-5) * 46);
	}

	.tribe-events-pro-week-grid__event--h-23-5 {
		height: calc(var(--spacer-5) * 47);
	}

	.tribe-events-pro-week-grid__event--h-24 {
		height: calc(var(--spacer-5) * 48);
	}

	/* -----------------------------------------------------------------------------
	 * Event time positioning (top)
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-grid__event--t-0-5 {
		top: var(--spacer-5);
	}

	.tribe-events-pro-week-grid__event--t-1 {
		top: calc(var(--spacer-5) * 2);
	}

	.tribe-events-pro-week-grid__event--t-1-5 {
		top: calc(var(--spacer-5) * 3);
	}

	.tribe-events-pro-week-grid__event--t-2 {
		top: calc(var(--spacer-5) * 4);
	}

	.tribe-events-pro-week-grid__event--t-2-5 {
		top: calc(var(--spacer-5) * 5);
	}

	.tribe-events-pro-week-grid__event--t-3 {
		top: calc(var(--spacer-5) * 6);
	}

	.tribe-events-pro-week-grid__event--t-3-5 {
		top: calc(var(--spacer-5) * 7);
	}

	.tribe-events-pro-week-grid__event--t-4 {
		top: calc(var(--spacer-5) * 8);
	}

	.tribe-events-pro-week-grid__event--t-4-5 {
		top: calc(var(--spacer-5) * 9);
	}

	.tribe-events-pro-week-grid__event--t-5 {
		top: calc(var(--spacer-5) * 10);
	}

	.tribe-events-pro-week-grid__event--t-5-5 {
		top: calc(var(--spacer-5) * 11);
	}

	.tribe-events-pro-week-grid__event--t-6 {
		top: calc(var(--spacer-5) * 12);
	}

	.tribe-events-pro-week-grid__event--t-6-5 {
		top: calc(var(--spacer-5) * 13);
	}

	.tribe-events-pro-week-grid__event--t-7 {
		top: calc(var(--spacer-5) * 14);
	}

	.tribe-events-pro-week-grid__event--t-7-5 {
		top: calc(var(--spacer-5) * 15);
	}

	.tribe-events-pro-week-grid__event--t-8 {
		top: calc(var(--spacer-5) * 16);
	}

	.tribe-events-pro-week-grid__event--t-8-5 {
		top: calc(var(--spacer-5) * 17);
	}

	.tribe-events-pro-week-grid__event--t-9 {
		top: calc(var(--spacer-5) * 18);
	}

	.tribe-events-pro-week-grid__event--t-9-5 {
		top: calc(var(--spacer-5) * 19);
	}

	.tribe-events-pro-week-grid__event--t-10 {
		top: calc(var(--spacer-5) * 20);
	}

	.tribe-events-pro-week-grid__event--t-10-5 {
		top: calc(var(--spacer-5) * 21);
	}

	.tribe-events-pro-week-grid__event--t-11 {
		top: calc(var(--spacer-5) * 22);
	}

	.tribe-events-pro-week-grid__event--t-11-5 {
		top: calc(var(--spacer-5) * 23);
	}

	.tribe-events-pro-week-grid__event--t-12 {
		top: calc(var(--spacer-5) * 24);
	}

	.tribe-events-pro-week-grid__event--t-12-5 {
		top: calc(var(--spacer-5) * 25);
	}

	.tribe-events-pro-week-grid__event--t-13 {
		top: calc(var(--spacer-5) * 26);
	}

	.tribe-events-pro-week-grid__event--t-13-5 {
		top: calc(var(--spacer-5) * 27);
	}

	.tribe-events-pro-week-grid__event--t-14 {
		top: calc(var(--spacer-5) * 28);
	}

	.tribe-events-pro-week-grid__event--t-14-5 {
		top: calc(var(--spacer-5) * 29);
	}

	.tribe-events-pro-week-grid__event--t-15 {
		top: calc(var(--spacer-5) * 30);
	}

	.tribe-events-pro-week-grid__event--t-15-5 {
		top: calc(var(--spacer-5) * 31);
	}

	.tribe-events-pro-week-grid__event--t-16 {
		top: calc(var(--spacer-5) * 32);
	}

	.tribe-events-pro-week-grid__event--t-16-5 {
		top: calc(var(--spacer-5) * 33);
	}

	.tribe-events-pro-week-grid__event--t-17 {
		top: calc(var(--spacer-5) * 34);
	}

	.tribe-events-pro-week-grid__event--t-17-5 {
		top: calc(var(--spacer-5) * 35);
	}

	.tribe-events-pro-week-grid__event--t-18 {
		top: calc(var(--spacer-5) * 36);
	}

	.tribe-events-pro-week-grid__event--t-18-5 {
		top: calc(var(--spacer-5) * 37);
	}

	.tribe-events-pro-week-grid__event--t-19 {
		top: calc(var(--spacer-5) * 38);
	}

	.tribe-events-pro-week-grid__event--t-19-5 {
		top: calc(var(--spacer-5) * 39);
	}

	.tribe-events-pro-week-grid__event--t-20 {
		top: calc(var(--spacer-5) * 40);
	}

	.tribe-events-pro-week-grid__event--t-20-5 {
		top: calc(var(--spacer-5) * 41);
	}

	.tribe-events-pro-week-grid__event--t-21 {
		top: calc(var(--spacer-5) * 42);
	}

	.tribe-events-pro-week-grid__event--t-21-5 {
		top: calc(var(--spacer-5) * 43);
	}

	.tribe-events-pro-week-grid__event--t-22 {
		top: calc(var(--spacer-5) * 44);
	}

	.tribe-events-pro-week-grid__event--t-22-5 {
		top: calc(var(--spacer-5) * 45);
	}

	.tribe-events-pro-week-grid__event--t-23 {
		top: calc(var(--spacer-5) * 46);
	}

	.tribe-events-pro-week-grid__event--t-23-5 {
		top: calc(var(--spacer-5) * 47);
	}

	/* -----------------------------------------------------------------------------
	 * Event details
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-grid__event-title {
		flex: auto;
		margin: 0;
	}

	.tribe-events-pro-week-grid__event-datetime {

		> * {
			vertical-align: middle;
		}
	}

	.tribe-events-pro-week-grid__event-datetime-featured-icon {
		display: inline-block;
		margin-right: var(--spacer-0);
	}

	.tribe-events-pro-week-grid__event-datetime-recurring-icon {
		display: inline-block;
		margin-left: var(--spacer-0);
	}

	.tribe-events-pro-week-grid__event-featured-image-wrapper {
		margin: var(--spacer-0) 0;
	}

	.tribe-events-pro-week-grid__event-featured-image {
		padding-bottom: 56.25%;
	}

	/* -----------------------------------------------------------------------------
	 * Event Tooltip
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-grid__event-tooltip-featured-image-wrapper {
		margin-bottom: var(--spacer-2);
		width: 206px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.tribe-events-pro-week-grid__event-tooltip-featured-image-link {
		display: block;
	}

	.tribe-events-pro-week-grid__event-tooltip-datetime {
		margin-bottom: var(--spacer-0);

		> * {
			vertical-align: middle;
		}
	}

	.tribe-events-pro-week-grid__event-tooltip-datetime-featured-icon,
	.tribe-events-pro-week-grid__event-tooltip-datetime-recurring-icon {
		display: inline-block;
	}

	.tribe-events-pro-week-grid__event-tooltip-datetime-featured-icon {
		margin-right: var(--spacer-0);
	}

	.tribe-events-pro-week-grid__event-tooltip-datetime-recurring-icon {
		margin-left: var(--spacer-0);
	}

	.tribe-events-pro-week-grid__event-tooltip-title {
		margin-bottom: var(--spacer-0);
	}

	.tribe-events-pro-week-grid__event-tooltip-description {
		margin-bottom: var(--spacer-1);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.tribe-events-pro-week-grid__event-tooltip-cost {
		margin-top: var(--spacer-3);
	}
}
