.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Week Grid
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-grid {
		@mixin hidden;

		@media (--viewport-medium) {
			display: block !important;
			visibility: visible;
		}
	}
}
