.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Week Grid
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-grid {

		.tribe-common--breakpoint-medium& {
			display: block !important;
			visibility: visible;
		}
	}
}
