.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Week Grid Header
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-grid__header-row {
		display: flex;
		border-right: 1px solid var(--color-border-secondary);
		margin-top: var(--spacer-7);
	}

	.tribe-events-pro-week-grid__header-column {
		flex: none;
		border-color: var(--color-border-secondary);
		border-style: solid;
		border-width: 0 0 1px 1px;
		width: calc(var(--grid-width-1-of-7) - (var(--spacer-11) / 7));
	}

	.tribe-events-pro-week-grid__header-column--empty {
		flex: none;
		border: 0;
		margin-left: var(--spacer-3);
		width: var(--spacer-9);
	}

	.tribe-events-pro-week-grid--hide-weekends .tribe-events-pro-week-grid__header-column {
		width: calc(var(--grid-width-1-of-5) - (var(--spacer-11) / 5));
	}

	.tribe-events-pro-week-grid--hide-weekends .tribe-events-pro-week-grid__header-column--empty {
		width: var(--spacer-9);
	}

	.tribe-events-pro-week-grid__header-column-title {
		margin: 0;
	}

	.tribe-events-pro-week-grid__header-column--border-bottom {
		border-bottom: 1px solid var(--color-border-secondary);
	}

	.tribe-events-pro-week-grid__header-column-datetime {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: calc(var(--spacer-7) * -1);
		padding-bottom: var(--spacer-3);
	}
}
