.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Time separator
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-mobile-events__event-time-separator {
		display: flex;
		align-items: center;
	}

	.tribe-events-pro-week-mobile-events__event-time-separator-text {
		flex: none;
	}
}

