.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Nav
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-nav {
		padding-top: var(--spacer-4);

		.tribe-common--breakpoint-medium& {
			@mixin hidden;
		}
	}
}
