.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Venue
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-venue__meta {
		border: 1px solid var(--color-border-default);
	}

	.tribe-events-pro-venue__meta-map {
		border: 1px solid var(--color-border-default);

		.tribe-common--breakpoint-medium& {
			border: 0;
		}
	}

	.tribe-events-pro-venue__meta-address-directions-link,
	.tribe-events-pro-venue__meta-website-link {
		color: var(--color-accent-primary);
	}

}
