.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Week Grid Header
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-grid__header-column--current {

		.tribe-events-pro-week-grid__header-column-weekday {
			color: var(--color-text-primary);
		}

		.tribe-events-pro-week-grid__header-column-daynum,
		.tribe-events-pro-week-grid__header-column-daynum-link {
			color: var(--color-accent-primary);
		}

		.tribe-events-pro-week-grid__header-column-daynum-link {

			&:hover,
			&:focus {
				color: var(--color-accent-primary-hover);
			}

			&:active {
				color: var(--color-accent-primary-active);
			}
		}
	}

	.tribe-events-pro-week-grid__header-column-weekday {
		color: var(--color-text-secondary);
		text-transform: uppercase;
	}
}
