/* .tribe-events-pro { */
	/* -----------------------------------------------------------------------------
	 * Week Grid
	 * ----------------------------------------------------------------------------- */
/* } */
