.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Mobile Events
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-week-mobile-events__event--featured {

		&:before {
			background: var(--color-accent-primary);
			content: '';
			height: 100%;
			left: var(--grid-gutter-small-half);
			position: absolute;
			width: 3px;
		}
	}

	.tribe-events-pro-week-mobile-events__event-featured-image-link {
		transition: var(--transition-opacity);

		&:hover,
		&:focus {
			opacity: var(--opacity-icon-hover);
		}

		&:active {
			opacity: var(--opacity-icon-active);
		}
	}

	.tribe-events-pro-week-mobile-events__event-datetime-recurring-link {

		&:hover,
		&:focus {

			.tribe-events-pro-week-mobile-events__event-datetime-recurring-icon {
				background-image: svg-inline(recurring);
			}
		}
	}
}
