.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Map
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-map__map {
		height: 300px;
		position: relative;

		.tribe-common--breakpoint-medium& {
			height: 720px;
			width: 60%;
		}
	}

	.tribe-events-pro-map__google-maps-default,
	.tribe-events-pro-map__google-maps-premium {
		height: 100%;
		width: 100%;
	}

	/* -----------------------------------------------------------------------------
	 * Map
	 * ----------------------------------------------------------------------------- */

	.gm-style img {
		max-width: none;
	}
}
