.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Nav
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-map__nav {
		flex: none;
		padding: var(--spacer-3) var(--spacer-2);
	}
}
