.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Tooltip
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-map__event-tooltip {
		padding-bottom: var(--spacer-5);
	}

	.tribe-events-pro-map__event-tooltip--has-slider {
		padding-bottom: var(--spacer-3);
	}

	.tribe-events-pro-map__event-tooltip-slider-wrapper {
		flex-wrap: nowrap;
	}

	.tribe-events-pro-map__event-tooltip-slide {
		flex: none;
	}

	.tribe-events-pro-map__event-tooltip-datetime-wrapper {
		margin-bottom: var(--spacer-0);
	}

	.tribe-events-pro-map__event-tooltip-datetime-featured-icon {
		display: inline-block;
		margin-right: var(--spacer-1);
	}

	.tribe-events-pro-map__event-tooltip-title {
		margin: 0;
	}

	.tribe-events-pro-map__event-tooltip-venue {
		margin-top: var(--spacer-1);
	}

	.tribe-events-pro-map__event-tooltip-cost {
		margin-top: var(--spacer-3);
	}

	.tribe-events-pro-map__event-tooltip-navigation {
		padding-top: var(--spacer-4);
	}

	.tribe-events-pro-map__event-tooltip-navigation-list {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.tribe-events-pro-map__event-tooltip-navigation-list-item {
		flex: none;
		width: auto;
	}

	.tribe-events-pro-map__event-tooltip-navigation-button {
		display: flex;
		align-items: center;
	}

	/* -----------------------------------------------------------------------------
	 * Google Maps InfoWindow
	 * ----------------------------------------------------------------------------- */

	.gm-style .gm-style-iw-c {
		padding: var(--spacer-5) var(--spacer-5) 0 !important;
		max-height: none !important;

		& > button {
			top: -2px !important;
			right: 0 !important;

			img {
				height: 16px !important;
				width: 16px !important;
			}
		}
	}

	.gm-style .gm-style-iw-d {
		overflow: hidden !important;
		max-height: none !important;
		max-width: 206px !important;
		width: 100%;
	}
}
