/* -----------------------------------------------------------------------------
 *
 * Datepicker
 *
 * ----------------------------------------------------------------------------- */

.tribe-events-pro {

	&.tribe-events-view--week .datepicker {

		tbody tr {

			&.active {
				position: relative;
			}
		}

		.day {

			&.disabled {
				cursor: pointer;
			}
		}
	}
}
