.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Organizer
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-organizer__meta {
		border: 1px solid var(--color-border-default);
	}

	.tribe-events-pro-organizer__meta-email-link,
	.tribe-events-pro-organizer__meta-website-link {
		color: var(--color-accent-primary);
	}
}
