.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * No Venue Modal
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-map__no-venue-modal--premium {
		box-shadow: var(--box-shadow-default);
	}
}
