.tribe-events-pro {

	/* -----------------------------------------------------------------------------
	 * Tooltip
	 * ----------------------------------------------------------------------------- */

	.tribe-events-pro-map__event-tooltip-venue {
		font-style: normal;
	}

	.tribe-events-pro-map__event-tooltip-navigation-button {

		&:hover,
		&:focus {
			opacity: var(--opacity-icon-hover);
		}

		&:active {
			opacity: var(--opacity-icon-active);
		}
	}

	.tribe-events-pro-map__event-tooltip-navigation-button--prev:before,
	.tribe-events-pro-map__event-tooltip-navigation-button--next:after {
		background: center / contain no-repeat;
		background-image: svg-inline(arrow-right-active);
		content: '';
		flex: none;
		height: 10px;
		width: 13px;
	}

	.tribe-events-pro-map__event-tooltip-navigation-button--prev {

		&:before {
			margin-right: var(--spacer-1);
			transform: rotateZ(180deg);
		}
	}

	.tribe-events-pro-map__event-tooltip-navigation-button--next {

		&:after {
			margin-left: var(--spacer-1);
		}
	}

	.tribe-events-pro-map__event-tooltip-navigation-button--disabled {
		color: var(--color-icon-secondary);

		&:hover,
		&:focus,
		&:active {
			opacity: var(--opacity-default);
		}

		&:before,
		&:after {
			background-image: svg-inline(arrow-right-secondary);
		}
	}

	/* -----------------------------------------------------------------------------
	 * Google Maps InfoWindow
	 * ----------------------------------------------------------------------------- */

	.gm-style .gm-style-iw-c {
		border-radius: var(--border-radius-default);
	}
}
